<div class="bootstrap-wrapper">
	<div class="container mt40 text-center">
		<div class="row">
      <div class="col-md-12 mt20">
        <a href="https://www.instagram.com/techpocket/">

          <img src="https://cdn.lnk.bi/otherpics/-1417958_20220702922.jpg" alt="Instagram Logo"  width="730" height="58">

        </a>
        
      </div>
		</div>

    <div class="row">
      <div class="col-md-12 mt20">
        <a href="https://www.instagram.com/techpocket/">
          <img src="https://i.ibb.co/FmWTVvz/beebom.png" alt="techpocket Logo"  width="730" height="227">
        </a>
        
      </div>
		</div>

    <div class="row">
      <div class="col-md-12 mt20">
        <a href="https://t.me/TechpocketOfficial?boost">
          <img src="https://cdn2.lnk.bi/otherpics/-1417958_20230919422.png" alt="whatsapp profile"  width="730" height="58">
        </a>
        
      </div>
		</div>

    <div class="row text-center">
      <div class="col-md-6 text-right mt20">
        <a href="https://www.kickstarter.com/projects/edc-power-bank/shargeek-170-the-coolest-powerbank-unparalleled-charging?utm_source=beebom.bio&utm_medium=kickbooster&utm_content=link&utm_campaign=7664b017&ref=brbf66">
          <img src="https://cdn2.lnk.bi/uploads/6136296_20231106211305919-500.png?lu=2023-11-06+13%3A13%3A12" alt="whatsapp profile"  width="356" height="356">
        </a>
        
      </div>
      <div class="col-md-6 text-left mt20">
        <a href="https://www.kickstarter.com/projects/edc-power-bank/shargeek-170-the-coolest-powerbank-unparalleled-charging?utm_source=beebom.bio&utm_medium=kickbooster&utm_content=link&utm_campaign=7664b017&ref=brbf66">
          <img src="https://cdn2.lnk.bi/uploads/6136296_20231106211305919-500.png?lu=2023-11-06+13%3A13%3A12" alt="whatsapp profile"  width="356" height="356">
        </a>
      </div>
		</div>


    <div class="row">
      <div class="col-md-12 mt20">
        <img src=" https://cdn.lnk.bi/otherpics/-1417958_20220728200.jpg" alt="whatsapp profile"  width="730" height="102">
      </div>
		</div>

   



    


	</div>
</div>
	<!-- <div class="col-md-6 text-right mt10">
				<img src="/assets/instalogo.png" alt="Instagram Logo"  width="40" height="40">
			</div>
			<div class="col-md-6 text-left">
				<img src="/assets/instagram.png" alt="Instagram Logo"  width="200" height="80">
			</div> -->